{% extends 'partials/_nav.html' %}

{% block content %}

    <div class="tab">
        <div class="row">
            <div class="col md-12">
                <h2>Liste Apprenants</h2>
                <table class="table table-striped">
                        <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>E-mail</th>
                                <th>Date Naissance</th>
                                <th>Matricule</th>
                                <th>Sexe</th>
                                <th>Statut</th>
                                <th>Promo</th>
                                <th>Action</th>
                            </tr>
                            {%for lister in l%}
                            <tr>
                                <td>{{lister.1}}</td>
                                <td>{{lister.2}}</td>
                                <td>{{lister.3}}</td>
                                <td>{{lister.4}}</td>
                                <td>{{lister.5}}</td>
                                <td>{{lister.6}}</td>
                                <td>{{lister.7}}</td>
                                <td>{{lister.8}}</td>
                                <td>
                                    <a href="/annulation&{{lister.0}}" class="btn btn-danger btn-xs" onclick="return confirm('Êtes vous sûre de vouloir annuler votre inscription?')">Annuler</a>
                                </td>
                            </tr>
                            {%endfor%}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}